<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script   src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="./animation/animation.js"></script>
    <script defer src="./animation/anime.min.js"></script>
    <title>Document</title>
  </head>

  <body>
    <div class="main">
      {{>navbar}}
      <div class="textholder">
        <p class="overtop msg">
          Creative Landing for <br />
          &nbsp;&nbsp;startup agencies
        </p>
        <br /><br />
        <span class="undertop msg">
          A digital marketing company that can produce custom built <br />
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          websites and mobile application</span
        >
        <br />
        <a href="" class="btn">Discover ave</a>
      </div>
      <img src="assets/Screenshot (123).jpg" alt="" width="100%" />
    </div>
    <div class="main-2">
      <div class="subcontainer1">
        <span>EXCLUSIVE PORTFOLIO</span>
        <p>
          Having attractive <br />
          showcase has <br />
          never been easier
        </p>
      </div>
      <div class="subcontainer2">
        <p>
          We’re a brand strategy and digital <br />
          design agency, building brands that <br />
          matter in culture. With more than ten <br />
          years of knowledge and expertise.
        </p>
      </div>
      <div class="subcontainer3">
        <p>
          We work with people who are as <br />
          dedicated to their craft. We do <br />
          everything with our core values of <br />
          honesty, hard work, and trust.
        </p>
      </div>
    </div>
    <div class="main-3">
      <div class="options">
        <ul>
          <li><a href="">SELECTED WORK</a></li>
          <li><a href="">BRANDED ECOMMERCE</a></li>
          <li><a href="">DIGITAL EXPERIENCES</a></li>
          <li><a href="">BRANDING STRATEGY</a></li>
        </ul>
      </div>
      <a href="" class="btn btn1">SEE ALL WORK</a>
    </div>
    <div class="main-4">
      <div class="content-4">
        <div class="box">
          <img src="assets/pic1.png" alt="" />
          <h1><a href="" class="img-heading">{{fieldname}}</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>
          <div class="hovering-effect-1">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/pic2.png" alt="" />
          <h1><a href="" class="img-heading">Feeling</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>
          <div class="hovering-effect">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/pic3.png" alt="" />
          <h1><a href="" class="img-heading">Watermelon</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>

          <div class="hovering-effect-1">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/pic4.png" alt="" />
          <h1><a href="" class="img-heading">Magic water</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>

          <div class="hovering-effect">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <a href=""><img src="assets/pic5.png" alt="" /></a>

          <h1><a href="" class="img-heading">Tropical rebrand</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>

          <div class="hovering-effect-1">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
        <div class="box">
          <img src="assets/pic6.png" alt="" />
          <h1><a href="" class="img-heading">Peaceful night</a></h1>
          <p><a href="" class="img-desc">&nbspBranding</a></p>

          <div class="hovering-effect">
            <div class="text">
              <h1>Discover more</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-5"></div>
    <script src="js/app.js"></script>
  </body>
</html>
